<%# Home#index %>
<%# <p>Find me in app/views/home/index.html.erb</p> %>
<%= image_tag 'title_01.png', class: 'responsive-image' %>
<div class='menu-box'>
  <h3>ニューゲーム (アカウント作成)</h3>
  <h3>ロードゲーム (ログインする)</h3>
  <h3>チュートリアル (つかいかた)</h3>
</div>
